


body {

font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
display: inline;
    color: rgb(0, 0, 0);
    background: rgb(57, 58, 58);
    max-width: 1920px;
    margin: auto;
    font-size: 16px;
}
#guy {
    top: 1000px;
    right: 1000px;
}

p {
    font:16px bold 30px Georgia,Times, Times New Roman, serif;
}
H5{
    color: rgb(240, 0, 192);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 25px;
}

.container {
    background: rgb(97, 139, 93);
    font-size: 40px;
   max-width: 1920px;
   padding-bottom: 90px;
   padding-top: 280px;
   background-image: url("images/sparkle1920x1080.png"); 
}

.container1 {
    background: rgb(204, 165, 236);
    padding-bottom: 90px;
    padding-top: 60px;
}
.container2 {
    background: rgb(190, 178, 245);
    padding-bottom: 60px;
   padding-top: 30px;
    font-size: 20px;
    background-image: url("images/purpleglitter.png"); 
}


#cardDetails {
    background: rgb(220, 225, 250);
    text-align: center;  
    
    
}
#cardFinal {
    background: rgb(220, 225, 250);
    text-align: center;
   
}

#space{
    
       padding: 100px; 
}
h1 {

    color: rgb(255, 235, 235);
    text-shadow: 3px 2px rgb(0, 0, 0);
    display: inline;
    font-size: 70px;  

}
h2 {
    color: rgb(239, 215, 247);
    text-shadow: 3px 2px rgb(0, 0, 0);
    font-weight: lighter;
}
.scroll {
    color: rgb(56, 2, 51);
    text-align: center;
    font-size: 25px;  
    font-weight: lighter;
    padding: 20px;
}
.quiz {
    color: rgb(241, 194, 237);
    background-color: rgb(55, 84, 119);
    width: 300px;
    font-size: 35px;  
padding:10px;
    text-align: center;
    text-shadow: 0px 0px rgb(0, 0, 0);
    transform: translate(0px, 125px); 
}
.results {
    color: rgb(241, 194, 237);
    background-color: rgb(55, 84, 119);
    width: 300px;
    font-size: 35px;  
padding:10px;
    text-align: center;
    transform: translate(0px, -50px); 
    text-shadow: 0px 0px rgb(0, 0, 0);

}

#submit1 {
    background-color: rgb(248, 224, 250); 
    color: rgb(67, 54, 55);
    transform: translate(410px, 180px);
    font-size: 25px;
   
  
    
}
